# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the key takeaways from the course
__Objectives:__
- List popular language
- List data sciece tools
- List commonly used libraries

Some of the popular languages that Data Scientists use are:
    1. First Python
    2. Second R
    3. Third SQL

Some of the commonly used libraries used by Data Scientists include:
    1. First Numpy
    2. Second Matplotlib
    3. Third Scipy

| Data Science Tools |
| -------------|
| Jupyter Notebooks  | 
| Tableau |
| Seaborn |

### Below are a few examples of evaluating arithmetic expressions in Python.
5+3

In [16]:
10-3

7

In [17]:
5*8

40

In [18]:
20/2

10.0

In [22]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Author
Zegkos Manos