# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the key takeaways from the course
__Objectives:__
- List popular language
- List data sciece tools
- List commonly used libraries

Some of the popular languages that Data Scientists use are:
    1. First Python
    2. Second R
    3. Third SQL

Some of the commonly used libraries used by Data Scientists include:
    1. First Numpy
    2. Second Matplotlib
    3. Third Scipy

| Data Science Tools |
| -------------|
| Jupyter Notebooks  | 
| Tableau |
| Seaborn |

### Below are a few examples of evaluating arithmetic expressions in Python.
5+3

In [ ]:
This a simple arithmetic expression to mutiply then add integers

In [28]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [29]:
200/60

3.3333333333333335

Author
Zegkos Manos